.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	background-color: #fbfbfb;
	padding: 64px;
	border-radius: 30px;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;
}

.closeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;
	width: 32px;
	height: 34px;
	cursor: pointer;
	padding: 0;
}

.title {
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: #191a15;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: -0.02em;
	color: #191a15;
}

.text {
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
	color: rgba(25, 26, 21, 0.5);
	padding-bottom: 20px;
	padding-top: 20px;
}

.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapName {
	display: flex;
	flex-direction: column;
	gap: 4px;
	text-align: center;
}

.textName {
	font-weight: 500;
	font-size: 12px;
	line-height: 133%;
	color: #8a8a89;
}

.name {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #191a15;
}

.img {
	border-radius: 15px;
	width: 44px;
	height: 44px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 40px;
}

.input {
	outline: none;
	border-radius: 12px;
	border: 1px solid rgba(25, 26, 21, 0.1);
	background-color: transparent;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 100%;
	padding: 16px 18px;
}

.wrapTelTime {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.inputWrap {
	position: relative;
}

.input::placeholder {
	color: #191a15;
	font-weight: 400;
	font-size: 14px;
	line-height: 125%;
}

.wrapTelTime {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.error {
	color: rgb(173, 46, 46);
	font-size: 14px;
	margin-bottom: 10px;
}

.inputComment {
	resize: none;
}

.button {
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	width: 438px;
	height: 52px;
	margin-top: 24px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: -0.01em;
	color: #fbfbfb;
	background-color: var(--primary-color);
}

button[type="submit"]:hover {
	background-color: var(--primary-color-dark);
}

@media (min-width: 768px) {
	.modal {
		padding: 64px 40px;
	}

	.title {
		font-size: 32px;
	}

	.text {
		font-size: 16px;
	}

	.wrap {
		flex-direction: row;
		gap: 14px;
	}

	.wrapTelTime {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 16px;
	}

	.inputWrap {
		width: calc((100% - 8px) / 2);
	}

	.formWrap {
		width: 472px;
	}

	.telTimeWrap {
		display: flex;
		gap: 8px;
	}

	.telTimeWrap input {
		width: 232px;
		height: 52px;
		padding: 16px 18px;
		font-size: 16px;
		line-height: 20px;
	}
}

@media (min-width: 1024px) {
	.modal {
		width: 565px;
		padding: 64px;
	}

	.title {
		font-family: "Inter";
		font-weight: 500;
		font-size: 40px;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #191a15;
	}

	.text {
		font-size: 16px;
		padding-bottom: 40px;
	}

	.formWrap {
		width: 472px;
	}

	.telTimeWrap input {
		width: 232px;
		height: 52px;
		padding: 16px 18px;
		font-size: 16px;
		line-height: 20px;
	}
}
